* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5EAEA;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  margin: 20px;
}

.card {
  width: 600px;
  border: 5px dashed blueviolet;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.card h1 {
  text-align: center;
  margin-bottom: 15px;
  color: blueviolet;
}

.card label {
  display: block;
  font-size: 18px;
}

.card .card-input {
  margin: 15px 0;
  padding: 8px;
  width: 100%;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #393053;
  border-radius: 5px;
}

.card-radio {
  margin: 15px 0;
  display: flex;
  justify-content: flex-start;
}


.card-radio label {
  margin: 10px 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px 40px;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  margin: 20px 0;
  font-size: 18px;
}

.btn-generate {
  background-color: blueviolet;
  border: 1px solid blueviolet;
}

.card .btn-delete {
  background-color: red;
  border: 1px solid red;
}

.card-result {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.result-sum {
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}


.card-result h2 {
  padding: 10px;
  border: 3px dashed blueviolet;
}